:root {
  --color-dark-blue: #2b2d42;
  --color-gray: #8d99ae;
  --color-light-gray: #edf2f4;
  --color-bright-red: #ef233c;
  --color-dark-red: #d90429;
}

* {

  box-sizing: border-box;

}

.sticky-navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #2b2d42;
}

.navbar-nav {
  position: sticky;
  width: 100%;
  max-height: 20%;
  flex-direction: row;
  justify-content: flex-start;
  width: 40%;
  padding: 0px 40px;
}

.nav-item {
  background-color: #8d99ae;
  flex: 1;
  text-align: center;
  padding: 0px;
  margin: 10px;
  min-width: 150px;
  border-radius: 50px;
  box-shadow: 0 0 3px #2b2d42;
}

@media (max-width: 576px) {
  .navbar-nav {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }

  .nav-item {
    flex: 1;
    text-align: center;
    padding: 0px;
    margin: 10px;
    min-width: 100px;
  }
}

.navbar-nav a:link,
.navbar-nav a:visited {
  color: #edf2f4;
}

.navbar-nav a:hover {
  background-color: #ef233c;
  border-radius: 50px;
  font-weight: bold;
  color: #edf2f4;
}

a:link,
a:visited {
  color: #edf2f4;
}

body {
  background-color: var(--color-dark-blue);
}

@media (max-width: 576px) {

  .container,
  .container-fluid {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .card.mb-3,
  .card.mb-3 * {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .row>[class^='col-'] {
    padding-left: 0px;
    padding-right: 0px;
  }
}

form label {
  color: var(--color-gray);
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

form {
  margin-top: 30px !important;
}

/* Custom footer styles */
footer {
  margin-top: 20px;
}

.footer-content .socials a {
  font-size: 24px;
  transition: color 0.3s ease;
}

.footer-content .socials a:hover {
  color: #007bff;
  /* Bootstrap primary color or any color you prefer */
}

.error {
  color: rgb(255, 0, 0);
}

input {
  border-radius: 5px;
  border: 1.5px solid #8d99ae;
}


/* Custom footer styles */
footer {
  margin-top: 20px;
  background: #2B2D42;
  /* Dark Blue for the footer background */
  color: #EDF2F4;
  /* Very Light Blue for the text color */
}

.footer-content .socials a {
  font-size: 24px;
  transition: color 0.3s ease;
  color: #EF233C;
  /* Very Light Blue for the social icons */
}

.footer-content .socials a:hover {
  color: #EF233C;
  /* Red for the social icons on hover */
}

.bg-secondary {
  background: #8D99AE !important;
  /* Light Blue for the secondary background */
}

.text-light {
  color: #EDF2F4 !important;
  /* Very Light Blue for light text */
}

.text-dark {
  color: #2B2D42 !important;
  /* Dark Blue for dark text */
}

.card.mb-3 {
  margin-left: 5rem;
  margin-right: 5rem;
  border: none;
}

.img-fluid.rounded-start {
  height: 200px;
  object-fit: cover;
}

.row.g-0 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  background-color: var(--color-dark-blue);
}

.card-body {
  border: 5px solid var(--color-dark-red);
  padding: 10px;
  height: 100%;
  background-color: var(--color-light-gray);
}

.img-fluid.rounded-start {
  height: 100%;
  object-fit: cover;
}

.card-body .card-text {
  font-size: calc(1vw + 1vh + .5vmin);
  color: var(--color-dark-gray);
}
