* {
    box-sizing: border-box;
}

.navbar-nav {
    width: 100%;
    max-height: 20%;
    flex-direction: row;
    justify-content: space-around;
    width: 40%;
}
 .nav-item {
    background-color: lightgrey;
    flex: 1;
    text-align: center;
    padding: 0px;
    margin: 10px;
    
 }
 @media (max-width: 576px) {
     .navbar-nav {
         flex-direction: row;
         justify-content: space-around;
         width: 100%;
     }

     .nav-item {
         flex: 1;
         text-align: center;
         padding:0px;
         margin: 10px;
     }
 }

 a:link {
    color: black;
 }
 a:visited {
    color: white;
    background-color: darkgray;
    font-weight: bold;
 }
 a:hover {
    color: pink;
    background-color: grey;
 }
 
/* Custom footer styles */
footer {
    margin-top: 20px;
}

.footer-content .socials a {
    font-size: 24px;
    transition: color 0.3s ease;
}

.footer-content .socials a:hover {
    color: #007bff;
    /* Bootstrap primary color or any color you prefer */
}