* {
    box-sizing: border-box;
}

nav {
    margin-top: 20px;
    margin-bottom: 10px;
    max-height: 50px;
}
nav ul {
    width: 100%;
}
 nav li {
    background-color: lightgrey;
    padding: 10px 20px;
    border-radius: 10%;
 }

 a:link {
    color: black;
 }
 a:visited {
    color: white;
    background-color: darkgray;
    font-weight: bold;
 }
 a:hover {
    color: pink;
    background-color: grey;
 }
/* Custom footer styles */
footer {
    margin-top: 20px;
}

.footer-content .socials a {
    font-size: 24px;
    transition: color 0.3s ease;
}

.footer-content .socials a:hover {
    color: #007bff;
    /* Bootstrap primary color or any color you prefer */
}