/**************************/
/* BELOW 750px (Smaller Tablets) */
/**************************/

@media (max-width: 40em) {
  html {
    /* 9px / 16px  */
    font-size: 56.25%;
  }

  .parent {
    grid-template-columns: 1fr;
    grid-template-rows: unset;
  }
  .parent > div {
    grid-area: unset;
  }
}
